.box {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  transition: all 0.3s linear;
  padding: 0;
  margin: 0;
}
.container-fluid {
  padding-top: 10vh;
  width: 100vw;
  height: 100vh;
}
.container-fluid .tab-block {
  min-width: 90vw;
}
.container-fluid .tab-block .tabs {
  position: relative;
  top: 14px;
  height: 40px;
}
.container-fluid .tab-block .tabs ul {
  padding: 0;
  margin: 0;
}
.container-fluid .tab-block .tabs ul li {
  display: inline-block;
}
.container-fluid .tab-block .tabs ul li #tab1 {
  background-color: #313131;
}
.container-fluid .tab-block .tabs ul li a {
  border-bottom: 1px solid black;
  border-radius: 4px 4px 0 0;
  color: white;
  text-decoration: none;
  padding: 4px 25px;
  background-color: #c9c9c9;
}
.container-fluid .tab-block .tab-cont {
  width: 100%;
  border-top: 1px solid black;
  position: relative;
}
.container-fluid .tab-block .tab-cont .progress {
  margin-bottom: 20px;
}
.container-fluid .tab-block .tab-cont .tab1cont {
  width: 100%;
  height: 100%;
}
.container-fluid .tab-block .tab-cont .tab2cont {
  width: 100%;
  height: 100%;
}
.container-fluid .tab-block .tab-cont .tab3cont {
  width: 100%;
  height: 100%;
}
.container-fluid .tab-block .tab-cont #tb1 {
  display: block;
  position: absolute;
  margin-top: 10px;
}
.container-fluid .tab-block .tab-cont #tb2 {
  display: none;
  position: absolute;
  margin-top: 10px;
}
.container-fluid .tab-block .tab-cont #tb3 {
  display: none;
  position: absolute;
  margin-top: 10px;
}
